src/main/mule/soap-service-training.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0a81f258-10ba-42ac-a497-7ecfac924db5" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="08d7ca9b-fb4e-4558-9244-6b1577e60447" >
		<wsc:connection wsdlLocation="http://dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soap-service-trainingFlow" doc:id="86ac4fc3-53d2-4eac-a641-dc53f1415d13" >
		<http:listener doc:name="Listener" doc:id="30be19b5-dcd7-4043-bc2b-6ad606304891" config-ref="HTTP_Listener_config" path="/calculator"/>
		<ee:transform doc:name="Transform Message" doc:id="58221a84-fde9-43c6-b236-30e6b06d4f60">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA : payload.a default 0,
		ns0#intB : payload.b default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="10e5c9a3-a199-45ba-8e98-98ac0d2d3560" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
		<ee:transform doc:name="Transform Message" doc:id="bc802dd9-5bb7-421d-80cc-0e2be4db5000">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	response : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
